.coverage
/build/
/docs/_build/
/dist/
/.eggs/
/*.egg-info
/l
/l3
/local/
/local3/
circleci_token
datastore.dat
oauth_client_secret
plus-dogfood.json
private_notes
facebook_app_*
flickr_app_*
github_client_*
google_client_*
instagram_client_*
instagram_scrape_base
instagram_sessionid_cookie
linkedin_client_*
meetup_client_*
twitter_app_*
TAGS
*.pyc
