[submodule "oauth_dropins"]
	path = oauth_dropins
	url = git@github.com:snarfed/oauth-dropins.git
[submodule "beautifulsoup"]
	path = beautifulsoup
	url = git@github.com:snarfed/beautifulsoup.git
[submodule "mf2py"]
	path = mf2py
	url = git@github.com:kartikprabhu/mf2py.git
