.coverage
/build/
.claude/
/docs/_build/
/dist/
/.eggs/
/*.egg-info
/l
/l3
/local*/
/oauth_dropins_static
circleci_token
datastore.dat
flask_secret_key
oauth_client_secret
plus-dogfood.json
private_notes
facebook_app_*
flickr_app_*
github_client_*
google_client_*
instagram_client_*
instagram_scrape_base
instagram_sessionid_cookie
linkedin_client_*
meetup_client_*
reddit_app_*
service_account_creds.json
twitter_app_*
twitter_scrape_headers*
TAGS
*.pyc
.DS_Store

**/.claude/settings.local.json
