/build/
/dist/
/.eggs/
/*.egg-info
/l
/local/
datastore.dat
oauth_client_secret
plus-dogfood.json
private_notes
facebook_app_id
facebook_app_secret
facebook_app_id_local
facebook_app_secret_local
google_client_id
google_client_secret
instagram_client_id
instagram_client_secret
instagram_client_id_local
instagram_client_secret_local
twitter_app_key
twitter_app_secret
