beautifulsoup4==4.6.0
brevity==0.2.17
certifi==2018.4.16
chardet==3.0.4
coverage==4.0.3
-e git+https://github.com/snarfed/gdata-python-client-1.git@1df4e1efea7e5cf2754bc7eec6c1ab48ab09e3b1#egg=gdata
feedgen==0.7.0
future==0.16.0
google-api-python-client==1.7.4
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.10.3
humanize==0.5.1
idna==2.7
Jinja2==2.10
MarkupSafe==1.0
mf2py==1.1.2
mf2util==0.5.0
mox3==0.24.0
mox==0.5.3
-e git+git@github.com:snarfed/oauth-dropins.git@v1.14#egg=oauth_dropins
oauth2client==4.1.2
oauthlib==2.0.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-tumblpy==1.0.4
requests==2.19.1
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
simplejson==3.7.3
six==1.10.0
tweepy==3.3.0
uritemplate==3.0.0
urllib3==1.23
webapp2==3.0.0b1
WebOb==1.4.1
