beautifulsoup4==4.8.0
brevity==0.2.17
certifi==2019.3.9
chardet==3.0.4
coverage==4.0.3
-e git+https://github.com/snarfed/gdata-python-client-1.git@1df4e1efea7e5cf2754bc7eec6c1ab48ab09e3b1#egg=gdata
feedgen==0.7.0
future==0.16.0
google-api-python-client==1.7.4
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.10.3
humanize==0.5.1
idna==2.8
Jinja2==2.10.1
# Same version as on App Engine Standard Python 2:
# https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27
lxml==3.7.3
MarkupSafe==1.1.1
mf2py==1.1.2
mf2util==0.5.0
mox3==0.24.0
mox==0.5.3
-e git+git@github.com:snarfed/oauth-dropins.git@v2.0#egg=oauth_dropins
oauth2client==4.1.2
oauthlib==3.0.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
PySocks==1.7.1
python-dateutil==2.8.0
python-tumblpy==1.0.4
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rsa==3.4.2
simplejson==3.7.3
six==1.10.0
tweepy==3.8.0
uritemplate==3.0.0
urllib3==1.25.2
webapp2==3.0.0b1
WebOb==1.4.1
