# Keep in sync with setup.py's install_requires!
beautifulsoup4
brevity>=0.2.17
future
html2text
jinja2
mf2py>=1.1.2
mf2util>=0.5.0
mox3>=0.24.0
oauth-dropins>=1.14
requests>=2.10.0
requests-toolbelt>=0.6.2
urllib3>=1.14
webapp2>=3.0.0b1
