# CircleCI automatically reads this file from our repo and uses it for
# configuration. Docs:
# https://circleci.com/docs/2.0/configuration-reference/
# https://circleci.com/docs/2.0/sample-config/
version: 2

jobs:
  build:
    docker:
      # https://circleci.com/docs/2.0/google-container-engine/#selecting-a-base-image
      - image: google/cloud-sdk

    steps:
      - checkout

      - restore_cache:
          key: venv-{{ .Branch }}-{{ checksum "requirements.txt" }}

      - run:
          name: Base dependencies
          command: |
            apt-get install -y python3
            # use oauth-dropins master at head. (see pip install -e below.)
            cd /tmp
            git clone https://github.com/snarfed/oauth-dropins.git
            cd oauth-dropins
            git checkout python3-ndb
            git submodule sync
            git submodule update --init

      - run:
          name: Python 3 dependencies
          command: |
            apt-get update
            apt-get install -y python3-venv python3-dev
            python3 -m venv local3
            . local3/bin/activate
            pip install -e /tmp/oauth-dropins/
            pip install -U -r requirements.txt
            pip install coverage coveralls

      - run:
          name: Test Python 3
          command: |
            . local3/bin/activate
            CLOUDSDK_CORE_PROJECT=granary-demo gcloud beta emulators datastore start --consistency=1.0 < /dev/null >& /dev/null &
            sleep 2s
            DATASTORE_EMULATOR_HOST=localhost:8081 DATASTORE_DATASET=granary-demo python3 -m unittest discover -v
            kill %1

      - save_cache:
          key: venv-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "local"
            - "local3"

      - store_artifacts:
          path: /tmp/coverage_html
