/*
 * Stylesheet for the front page, mostly the demo form.
 */

.tp-main {
  padding-top: 0;
}

/* center vertically:
 * http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */
/* .login { */
/*   -webkit-transform-style: preserve-3d; */
/*   -moz-transform-style: preserve-3d; */
/*   transform-style: preserve-3d; */
/* } */

.login div {
  min-height: 80px;

  /* center vertically */
  /* position: relative; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
}

.form-control, button.btn {
  display: inline;
  width: auto;
  height: auto;
  padding: 0 .5em 0 .5em;
}

#search_query_span {
  display: none;
}

code {
  color: #333;
  background-color: #EEE;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

#results {
  background-color: #EEE;
}

#privacy {
  margin-top: 2em;
  font-size: 1.2em;
}

iframe {
  width: 100%;
  min-height: 40em;
  border: 0;
}
