/*
 * Stylesheet for the front page, mostly the demo form.
 */

.tp-main {
  padding-top: 0;
}

.form-control, button.btn {
  display: inline;
  width: auto;
  height: auto;
  padding: 0 .5em 0 .5em;
}

code {
  color: #333;
  background-color: #EEE;
}

h1 {
  text-align: center;
}

#results {
  background-color: #EEE;
}

#privacy {
  margin-top: 2em;
  font-size: 1.2em;
}

iframe {
  width: 100%;
  min-height: 40em;
  border: 0;
}
