{% extends "index.html" %}

{% block oauth_details %}
<p>Twitter
<a href="https://dev.twitter.com/docs/auth/obtaining-access-tokens">supports
OAuth 1.0a</a>, which you'll need to use for everything
except <code>/@me/@all/USER_ID</code> requests for unprotected users.</p>

<p>For the demo below, just click the
<a href="{{ auth_url }}">Authenticate</a> link. For programmatic access, if you
include an
<a href="https://dev.twitter.com/docs/auth/implementing-sign-twitter">access
token</a> in a request to this provider in the
<code>access_token_key</code> and <code>access_token_secret</code> query
parameters, they'll be used to sign and authorize requests to Twitter. See the
demo for an example.
{% endblock %}

{% block query_params %}
<label id="access_token_key_label" for="access_token_key">? access_token_key =</label>
<input id="access_token_key" name="access_token_key" type="text" size="10"
       onkeyup="render_form()" onchange="render_form()"
       value="{{ access_token_key }}" />
<label id="access_token_secret_label" for="access_token_secret">& access_token_secret =</label>
<input id="access_token_secret" name="access_token_secret" type="text" size="10"
       onkeyup="render_form()" onchange="render_form()"
       value="{{ access_token_secret }}" />
{% endblock %}
