<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-XRDS-Location"
        content="http://{{ host }}/.well-known/host-meta.xrds" />
  <script type="text/javascript" src="/static/demo.js"></script>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <title>Granary</title>

  <meta name="viewport" content="width=device-width">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" />

<style type="text/css">
body {
  padding-top: 2em;
}
.tp-main {
  padding-top: 6em;
}
.tp-main h1 {
  font-size: 4em;
}
.tp-main .lead {
  font-size: 2em;
}
form {
  display: inline;
}
form input {
  vertical-align: middle;
}
.row {
  text-align: center;
}
.col-md-3 {
  margin-bottom: 1em;
}
</style>

</head>


<body onload="access_token_from_fragment(); render_form();">

<!-- highlight fragments -->
<style type="text/css">
#contact, #privacy {
  transition: background-color 2s;
}
</style>
<script type="text/javascript">
function onHashChange() {
  var id = location.href.match(/#(.+)$/);
  var elem = document.getElementById(id[1]);
  if (elem) {
    elem.style.backgroundColor = "#FFFFAA";
  }
}
window.addEventListener('hashchange', onHashChange);
document.addEventListener('DOMContentLoaded', onHashChange);
</script>

<div id="description">

<!-- github ribbon: https://github.com/blog/273-github-ribbons -->
<a href="https://github.com/snarfed/granary">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
       alt="Fork me on GitHub" />
</a>

<h1>Granary</h1>

<img id="logo" src="/static/logo.png" />

<p>This is a library and REST API that does...
  <a href="http://activitystrea.ms/">ActivityStreams</a>.</p>

</div>

<br />
<div class="row">
<div class="col-md-3 col-sm-6"><form method="post" action="/twitter/start">
  <input type="image" class="shadow" alt="Twitter" src="/oauth_dropins/static/twitter.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/facebook/start">
  <input type="image" class="shadow" alt="Facebook"
         src="/oauth_dropins/static/facebook.png" />
</form></div>
  <div class="clearfix visible-sm"></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/googleplus/start">
  <input type="image" class="shadow" alt="Google+"
         src="/oauth_dropins/static/google_plus.png" />
</form></div>
<div class="col-md-3 col-sm-6"><form method="post" action="/instagram/start">
  <input type="image" class="shadow" alt="Instagram"
         src="/oauth_dropins/static/instagram.png" />
</form></div>
</div>

{% if source == "twitter" %}
  <label id="access_token_key_label" for="access_token_key">access_token_key =</label>
  <input id="access_token_key" name="access_token_key" type="text" size="10"
         onkeyup="render_form()" onchange="render_form()"
         value="{{ access_token_key }}" />
  <label id="access_token_secret_label" for="access_token_secret">& access_token_secret =</label>
  <input id="access_token_secret" name="access_token_secret" type="text" size="10"
         onkeyup="render_form()" onchange="render_form()"
         value="{{ access_token_secret }}" />
{% else %}
  <label id="access_token_label" for="access_token">access_token =</label>
  <input id="access_token" name="access_token" type="text" size="10"
         onkeyup="render_form()" onchange="render_form()"
         value="{{ access_token }}" />
{% endif %}

</body>
</html>
